<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.SSDT_Intellisense_TestConnectionString"
            connectionString="Data Source=ssdt-dev-nfte.database.windows.net;Initial Catalog=SSDT_Intellisense_Test;Persist Security Info=True;User ID=ssdt_dev_user"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>